# Dependencies
/node_modules

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.idea
.env.local
.env.development.local
.env.test.local
.env.production.local
/.firebase

npm-debug.log*
firebase-debug.log
